h1{
    color: rgba(231, 50, 156, 0.349);
    text-align: center;
    font-size: 50px;
}
body{
    background-color: rgba(236, 116, 230, 0.692);
}
p{
    color: rgb(233, 230, 53);
    font-size: 40px;
    text-aline:justify;
}
